*.pyc
*.log

# Distribution / packaging
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg


# /
/bin
/obj
/.idea
/cmake-build-debug

# Input data files
/data/astorb.dat
/data/Soft00Cmt.txt
/data/Soft00Cmt_*.txt
/data/de4*
/data/binary_*.bin
/data/list_*.txt

